In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dados = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}

In [ ]:
populacao = pd.DataFrame(dados)
populacao

In [ ]:
populacao.columns

In [ ]:
populacao.values

In [ ]:
# modificar a ordem em que as colunas serão exibidas
populacao = pd.DataFrame(dados, columns=['year', 'state', 'pop'])
populacao

In [ ]:
# índices de linha mais amigáveis
populacao_novo = pd.DataFrame(dados, 
                              columns=['year', 'state', 'pop', 'debt'],
                              index=['I', 'II', 'III', 'IV', 'V', 'VI'])
populacao_novo

In [ ]:
# Acessando atributos - 1
populacao_novo['state']

In [ ]:
# Acessando atributos - 2
populacao_novo.year

In [ ]:
# Inserindo nova coluna e valor default
populacao_novo['debt'] = 16.5
populacao_novo

In [ ]:
populacao_novo['debt'] = np.arange(6.)
populacao_novo

In [ ]:
populacao_novo['eastern'] = populacao_novo.state == 'Ohio'
populacao_novo

In [ ]:
populacao_anual = pd.DataFrame({'Nevada': {2001: 2.4, 2002: 2.9}, 
                                'Ohio': {2000:1.5, 2001: 1.7, 2002: 3.6}})
populacao_anual

In [ ]:
# Tranposição
populacao_anual.T

In [ ]:
# carregando arquivo csv
iris = pd.read_csv("../../ELFULTEC/Exemplos/DataSets/iris.csv")

In [ ]:
# exibindo os primeiros registros
iris.head()

In [ ]:
# exibindo os ultimos registros
iris.tail()

In [ ]:
# exibindo os primeiros registros
iris.head(n=10)

In [ ]:
# exibindo os ultimos registros
iris.tail(n=15)

# Reindexação

In [ ]:
cidades = pd.DataFrame(np.arange(9).reshape((3,3)), 
                       index=['a', 'c', 'd'],
                       columns=['Ohio', 'Texas', 'California'])
cidades

In [ ]:
cidades_novo = cidades.reindex(['a', 'b', 'c', 'd']) #Reindexando as linhas
cidades_novo

In [ ]:
estados = ['Texas', 'Utah', 'California']
cidades.reindex(columns=estados)

In [ ]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
navegadores = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
                            'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
                           index=index)
navegadores

In [ ]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10', 'Chrome']
navegadores.reindex(new_index, fill_value=0)

In [ ]:
date_index = pd.date_range('1/1/2010', periods=6, freq='D')

In [ ]:
date_index

In [ ]:
precos_periodo = pd.DataFrame({"prices": [100, 101, np.nan, 100, 89, 88]}, 
                              index=date_index)
precos_periodo

In [ ]:
date_index2 = pd.date_range('12/29/2009', periods=10, freq='D')
precos_periodo.reindex(date_index2)

In [ ]:
precos_periodo.reindex(date_index2, method='bfill')

In [ ]:
precos_periodo.reindex(date_index2, method='ffill')

# Indexação, Seleção e Filtragem

In [ ]:
titanic = pd.read_csv("../../ELFULTEC/Exemplos/DataSets/titanic_treino.csv")
titanic.head()

In [ ]:
titanic.loc[1] #Dessa forma estaremos recuperando os dados do primeiro passageiro

In [ ]:
titanic[:2] #Recupera todos os dados dos dois primeiros passageiros

In [ ]:
titanic[['Sex', 'Age', 'Survived']] #Recupera todos os dados das colunas na ordem em que aparecem

In [ ]:
titanic[titanic['Pclass'] == 3] #Recupera todos os passageiros da terceira classe

In [ ]:
titanic.loc[[1,2], ['Name','Sex','Age']] #Recupera o segundo e o terceiro passageiros com os atributos listados

In [ ]:
titanic.loc[10:20] #Recupera do décimo ao vigésimo passageiro

In [ ]:
titanic.loc[10:30:2] #Recupera do décimo ao trigésimo passageiro intercalando de dois em dois

In [ ]:
titanic.query('Age > 20').head() #Recupera os passageiros com idade maior que 20

In [ ]:
titanic.query('Age > 20 & Sex=="male"').head(10) #Recupera os passageiros com idade maior que 20 e do sexo masculino

In [ ]:
titanic.query('Age > 20 | Sex=="male"').head(10) #Recupera os passageiros com idade maior que 20 ou do sexo masculino

In [ ]:
titanic.query('Embarked in ["C","Q"]', inplace=True) #Recupera alterando o Data Frame, os passageiros que embarcaram em C e Q

In [ ]:
titanic

# Ordenação

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)), 
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])

In [ ]:
frame.sort_index(axis=0)

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values(by=['b'])

In [ ]:
frame.sort_values(by=['a', 'b'])

# Estatísticas Descritivas

In [ ]:
titanic['Age'].mean() #Calcula a média das idades dos passageiros

In [ ]:
titanic[["Age", "Fare"]].median() #Retorna a mediana da idade e da taxa paga

In [ ]:
titanic.info()

In [ ]:
titanic.describe()

In [ ]:
titanic[["Age", "Fare"]].describe()

In [ ]:
titanic.groupby(by='Sex').size() #Conta a quantidade de registros por sexo

In [ ]:
titanic.groupby(by='Sex')['Age'].mean() #Calcula a média de idades por sexo

In [ ]:
titanic.groupby(['Sex','Survived']).agg({'Age': np.mean, 'PassengerId': np.size})
#Calcula a média e contabiliza os passageiros das idades por sexo e situação de sobrevivente ou não

# Carregamento de Arquivos

In [ ]:
#Arquivo sem cabeçalho
dados1 = pd.read_csv('../examples/ex1.csv', header=None)
dados1

In [ ]:
#Leitura de arquivo .csv com indicação de nomes para as colunas e qual será utilizada como índice dos dados
dados1 = pd.read_csv('../examples/ex1.csv', 
                     names=['0', '1', '2', '3'], 
                     index_col=4)
dados1

In [ ]:
#Leitura de arquivo .csv com dados separados por tabulação
dados2 = pd.read_csv('../examples/ex2.csv', sep=',')
dados2

In [ ]:
# Leitura de arquivo .csv com indicação de quais colunas serão lidas do arquivo
dados2 = pd.read_csv('../examples/ex2.csv', usecols=[1,3,4])
dados2

In [ ]:
dados3 = pd.read_csv('../examples/ex3.csv', sep='\t', index_col = 0)
dados3

In [ ]:
# Leitura de arquivo .csv com indicação de quais linhas serão deixadas de ler
dados3 = pd.read_csv('../examples/ex3.csv', skiprows=[0, 2, 3], sep='\t', index_col = 0)
dados3

In [ ]:
#Leitura de arquivo .csv com indicação do número de linhas a serem lidas
dados3 = pd.read_csv('../examples/ex3.csv', nrows=18, sep='\t', index_col = 0)
dados3

# Remoção de Registros Duplicados

In [ ]:
dados = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 'k2': [1, 1, 2, 3, 3, 4, 4]})
dados

In [ ]:
dados.drop_duplicates()

In [ ]:
dados.drop_duplicates(['k1'])

# Remoção Registros com Dados Ausentes

In [ ]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [ ]:
df

In [ ]:
#Removendo todas as linhas com ausência de dados
df.dropna()

In [ ]:
#Removendo as linhas onde todos os atributos estão ausentes
df.dropna(how='all')

In [ ]:
#Removendo as colunas que possuem algum dado ausente
df.dropna(axis='columns')

In [ ]:
#Mantendo linhas que possuem ao menos um número mínimo de valores presentes
df.dropna(thresh=2)

In [ ]:
#Definindo um conjunto de atributos a serem verificados
df.dropna(subset=['name', 'toy'])

In [ ]:
#Aplicando a alteração diretamente no Data Frame
df.dropna(inplace=True)
df

# Preenchendo Registros com Dados Ausentes

In [ ]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))
df

In [ ]:
#Preenchendo todos os valores com 0 (zero)
df.fillna(0)

In [ ]:
#Propagando valores não nulos para frente
df.fillna(method='ffill')

In [ ]:
#Propagando valores não nulos para trás
df.fillna(method='bfill')

In [ ]:
#Preenchendo valores de acordo com o nome dos atributos
df.fillna(value= {'A': 0, 'B': 1, 'C': 2, 'D': 3})

# Substituindo Valores

In [ ]:
data = pd.Series([1,2,-99,4,5,-99,7,8,-99])
data

In [ ]:
data.replace(-99, np.nan)

In [ ]:
data.replace(-99, np.nan)